* {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow-x: hidden;
  /* font-family: "Roboto Flex", sans-serif;
  font-family: "Public Sans", sans-serif; */
}

/* Header Styles */
.headermain {
  padding: 10px 120px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  border-bottom: 0.5px solid rgba(13, 107, 176, 1);
  z-index: 10;
}

.headermain .brandLogo a img {
  background-color: transparent;
}

.headermain .LinkBox a {
  text-decoration: none;
  color: rgba(13, 107, 176, 1);
  font-size: 22px;
  margin-right: 40px;
  font-family: "Roboto Flex", sans-serif;
  &:last-child {
    margin-right: 0px;
  }
}

.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  background-color: #174c93;
  transition: right 0.3s ease;
  z-index: 1000;
}

.drawerToggle {
  display: none;
}

.drawer.open {
  right: 0;
}

.drawerContent a {
  display: block;
  text-decoration: none;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  color: #fff;
}

.drawerContent a:hover {
  background-color: #41628e;
}

.crossBtnRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 20px;
  background-color: #fff;
}
.crossbtn {
  cursor: pointer;
}
/* Responsive Header Styles */

@media (max-width: 991px) {
  .headermain {
    padding: 10px 60px;
  }
  .headermain .LinkBox a {
    font-size: 18px;
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .headermain {
    padding: 10px;
  }
  .headermain .LinkBox a {
    display: none;
  }
  .threeBars {
    margin-right: 20px;
    cursor: pointer;
  }
  .drawerToggle {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .drawer {
    display: none;
  }
}

/* Footer styles */
.footerBg {
  background-size: cover;
  height: 60%;
  background: url("../public/images/footerbg.svg");
  background-position: top;
}
.footerBg .innerCard {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* margin: 230px 100px; */
  margin: 0 40px 0 40px;
  padding: 40px 0 40px 0;
}
.footerBg .servicesBox {
  margin-top: 200px; /* width: 300px; */
}
.footerBg .box {
  margin-top: 200px; /* width: 300px; */
}
.footerBg .box h1 {
  color: #fff;
  font-size: 20px;
}
.footerBg .box h2 {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}
.footerBg .servicesBox .serTxt {
  color: #fff;
  font-size: 22px;
  margin-bottom: 22px;
}
.footerBg .servicesBox p {
  color: #fff;
  font-size: 22px;
  margin-bottom: 22px;
}
.footerBg .servicesBox p,
.footerBg .servicesBox a {
  color: #fff;
  font-size: 22px;
  margin-bottom: 22px;
  text-decoration: none;
}
.custom-link {
  color: #fff;
  font-size: 22px;
  margin-bottom: 22px;
}
@media (max-width: 991px) {
  .footerBg .servicesBox p {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .footerBg {
    background: url("../public/images/footerbg.svg") no-repeat scroll;
    height: 100%;
    background-size: cover;
    background-position: top;
  }
  .footerBg .innerCard {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 20px;
  }
  .footerBg .servicesBox {
    margin-top: 10px; /* width: 300px; */
    margin-bottom: 15px;
  }
  .footerBg .box {
    margin-top: 75px; /* width: 300px; */
  }

  .footerBg .box h1 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
  }
  .footerBg .box h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
  }
  .footerBg .servicesBox .serTxt {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
  }
  .footerBg .servicesBox p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 300;
  }
}
/* Body Styles*/
.landingBox {
  background: url("../public/images/backgroundLayer.svg") no-repeat scroll;
  background-size: cover;
  background-position: bottom right;
  width: 100vw;
  height: 130vh;
  margin: 0;
  padding: 0;
}

#Home .landingBox .rightSlider {
  background: url("../public/images/ladnigSlide.svg") no-repeat scroll;
  height: 100vh;
  background-position: right;
  position: relative;
}

.landingBox .textBox {
  position: absolute;
  margin: 130px 130px;
}

.landingBox .textBox h1 {
  color: #fff;
  font-size: 55px;
  margin-bottom: 20px;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
}

.landingBox .textBox p {
  color: #fff;
  font-size: 22px;
  font-family: "Roboto Flex", sans-serif;
}

.landingBox .butterfly {
  position: absolute;
  top: 170px;
  right: 100px;
}

.landingBox .butStone1 {
  position: absolute;
  top: 480px;
  right: 480px;
  transform: rotate(15deg);
}

.landingBox .butStone2 {
  position: absolute;
  top: 660px;
  right: 800px;
}

.landingBox .butStone3 {
  position: absolute;
  top: 690px;
  left: 220px;
}

/* Responsive  Styles */

@media (max-width: 991px) {
  .landingBox .textBox {
    position: absolute;
    margin: 50px 70px;
  }
  .landingBox .textBox h1 {
    font-size: 38px;
    font-weight: 600;
  }

  .landingBox .textBox p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .landingBox .textBox {
    position: absolute;
    margin: 50px 20px;
  }
  .landingBox {
    background: url("../public/images/backgroundLayer.svg") no-repeat scroll;
    background-size: cover;
    background-position: bottom right;
    width: 100%;
    height: 100vh;
  }
}
@media (max-width: 480px) {
  .landingBox .textBox {
    position: absolute;
    margin: 50px 20px;
  }
  .landingBox {
    background: url("../public/images/backgroundLayer.svg") no-repeat scroll;
    background-size: contain;
    /* background-position: bottom right; */
    width: 100vw;
    height: 90vh;
    /* background-color: rgb(2, 52, 103); */
    background-color: rgb(2, 69, 137);
  }
}

/* Our services styles */
.mainLineImg {
  background: url("../public/images/bigBoxblue.svg") no-repeat center scroll;
  height: auto;
  width: 100vw;
  background-size: cover;
  background-position: top;
}

.mainLineImg .AboutUs {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  &:last-child {
    margin-bottom: 60px;
  }
}

.mainLineImg .AboutUsBox {
  margin-top: 60px;
  text-align: center;
}

.mainLineImg .AboutUsBox .headTxt {
  font-size: 31px;
  line-height: 35px;
  color: rgba(15, 126, 237, 1);
  font-weight: 600;
  font-family: "Public Sans", sans-serif;
  /* margin-top: 300px; */
}

.mainLineImg .AboutUsBox .detailTxt {
  font-size: 37px;
  line-height: 48px;
  color: rgba(1, 52, 112, 1);
  font-weight: 700;
  word-spacing: 10px;
  margin-bottom: 20px;
  font-family: "Futura PT", sans-serif;
}

.mainLineImg .AboutUsBox .para {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Roboto Flex", sans-serif;
}

.mainLineImg .AboutUsBox .ContactBtn {
  border: none;
  height: 42px;
  width: 180px;
  color: #fff;
  background-color: rgba(1, 52, 112, 1);
  font-family: "Roboto Flex", sans-serif;
}

/* Responsive Our services Styles */

@media (max-width: 991px) {
  .mainLineImg .AboutUs {
    display: flex;
    justify-content: center;
    padding: 0 70px 0 70px;
    margin-bottom: 80px;
    &:last-child {
      margin-bottom: 60px;
    }
  }
  .mainLineImg .AboutUsBox {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .mainLineImg .AboutUs {
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 40px;
    }
  }
  .mainLineImg .AboutUsBox {
    margin-top: 30px;
  }
  .mainLineImg .AboutUsBox .detailTxt {
    font-size: 32px;
    line-height: 35px;
    color: rgba(1, 52, 112, 1);
    font-weight: 600;
    word-spacing: 5px;
  }
}

/* Industries styles */
.detailTxt2 {
  font-size: 37px;
  line-height: 48px;
  color: rgba(1, 52, 112, 1);
  font-weight: 700;
  word-spacing: 10px;
  margin-bottom: 60px;
}

.cardImgRce {
  margin-bottom: 20px;
}

.carHeadTxt {
  color: rgba(1, 52, 112, 1);
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Public Sans", sans-serif;
}

.parain {
  color: rgba(78, 87, 100, 1);
  font-size: 18px;
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
}

#Industries .cardInCase {
  /* width: 380px; */
  /* display: flex; */
  /* flex-direction: column; */
  transition: all 0.5s ease;
  margin-bottom: 80px;
  /* margin-right: 30px; */
}
#Industries .cardInCase:last-child {
  margin-right: 0px;
}
.cardInCase:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s ease;
}

.cardInCase .cardhead {
  background-color: rgba(236, 239, 244, 1);
  padding: 20px;
}

.cardhead .cardImgCase {
  width: 100%;
  object-fit: cover;
}

.cardInCase .cardbody {
  padding: 20px;
  background-color: #fff;
  border: 0.5px solid rgb(231, 222, 222);
  height: 250px;
}

.cardInCase .cardbody .caseheadTxt {
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: start;
  font-weight: 600;
  font-family: "Public Sans", sans-serif;
}

.cardInCase .cardbody .casePara {
  color: rgba(112, 112, 112, 1);
  font-size: 18px;
  text-align: start;
  margin-bottom: 20px;
  font-family: "Roboto Flex", sans-serif;
}

.cardInCase .cardbody .caseStudy {
  color: rgba(8, 106, 216, 1);
  font-size: 18px;
  text-align: start;
}
/* Responsive Industries Styles */

@media (max-width: 991px) {
  #Industries .cardInCase {
    margin-bottom: 60px;
  }
  .carHeadTxt {
    font-weight: 600;
  }

  .parain {
    font-size: 18px;
  }
  .cardInCase .cardbody {
    height: 330px;
  }
}
@media (max-width: 768px) {
  #Industries .cardInCase {
    margin-bottom: 40px;
  }
  .detailTxt2 {
    font-size: 32px;
    line-height: 35px;
    color: rgba(1, 52, 112, 1);
    font-weight: 600;
    word-spacing: 5px;
  }
  .cardInCase .cardbody {
    height: 230px;
  }
}

/* Increamental Improvments */
.xaxisSlide {
  background: url("../public/images/passionateLine.svg") no-repeat scroll;
  height: 100vh;
  width: 100vw;
  /* background-position: bottom right; */
  background-size: contain;
  /* margin-bottom: 150px; */
}

.xaxisSlide .contentBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.xaxisSlide .incremanetalHeadTxt {
  color: rgba(1, 52, 112, 1);
  margin: 100px 0px 50px 0px;
  font-weight: 600;
  font-family: "Public Sans", sans-serif;
}

.xaxisSlide .borderROundedRec {
  height: 170px;
  width: 999px;
  background-color: rgba(1, 52, 112, 1);
  border-radius: 210px;
  box-shadow: 6px 8px 0px 0px #fe6c17;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xaxisSlide .borderROundedRec .innerBox {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 30px;
}

.xaxisSlide .borderROundedRec .innerBox .contentCard {
  margin-left: 10px;
}

.xaxisSlide .borderROundedRec .innerBox .contentCard .num {
  color: #fff;
  font-size: 24px;
}

.xaxisSlide .borderROundedRec .innerBox .contentCard .text {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
}

@media (max-width: 991px) {
  .xaxisSlide .borderROundedRec {
    height: 150px;
    width: 777px;
    padding: 20px 40px;
  }
  .xaxisSlide .borderROundedRec .innerBox {
    margin-right: 20px;
  }

  .xaxisSlide .borderROundedRec .innerBox .contentCard {
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  .xaxisSlide .borderROundedRec {
    height: auto;
    width: 80%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
  }

  .xaxisSlide .borderROundedRec .innerBox {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .xaxisSlide .borderROundedRec .innerBox:last-child {
    margin-bottom: 0;
  }

  .xaxisSlide .borderROundedRec .innerBox .contentCard {
    margin-left: 20px;
    width: 100px;
    text-align: start;
  }
  .xaxisSlide .incremanetalHeadTxt {
    margin: 50px 0px 50px 0px;
  }
}

.bookBox {
  /* height: calc(100vh - 100px); */
  /* margin-bottom: 200px; */
}
.book {
}
.reco-img-sx {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookBox .reconBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.bookBox .reconBox .headingReconTxt {
  color: rgba(15, 126, 237, 1);
  font-size: 31px;
  font-weight: 600;
  font-family: "Public Sans", sans-serif;
}

.bookBox .reconBox .recogPara {
  color: rgba(1, 52, 112, 1);
  font-weight: 600;
  font-size: 37px;
  line-height: 1.1em;
  margin-bottom: 30px;
  font-family: "Roboto Flex", sans-serif;
}

.bookBox .reconBox .liteTxt {
  color: rgba(112, 112, 112, 1);
  font-size: 21px;
  font-family: "Roboto Flex", sans-serif;
}

.bookBox .TecBox h1 {
  margin-bottom: 20px;
  color: rgba(15, 126, 237, 1);
  font-size: 37px;
  font-weight: 600;
  font-family: "Public Sans", sans-serif;
}

.bookBox .TecBox h1 span {
  color: rgba(1, 52, 112, 1) !important;
}

.TecBox .belowBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TecBox .belowBox .textBox {
  margin-right: 40px;
}

.TecBox .belowBox .textBox h1 {
  color: #505d66;
  font-size: 35px;
  font-weight: 400;
  font-family: "Roboto Flex", sans-serif;
  margin-bottom: 10px;
}

.TecBox .belowBox .textBox h2 {
  color: #505d66;
  font-size: 18px;
}

@media (max-width: 991px) {
  .book {
    height: 500px;
    width: 400px;
  }
  .bookBox .reconBox .headingReconTxt {
    font-size: 30px;
  }
  .bookBox .reconBox .recogPara {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .bookBox .TecBox h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .TecBox .belowBox .textBox {
    margin-right: 30px;
  }

  .TecBox .belowBox .textBox h1 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .book {
    height: 450px;
    width: 350px;
  }
  .xaxisSlide .borderROundedRec {
    height: auto;
    width: 80%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
  }

  .xaxisSlide .borderROundedRec .innerBox {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .xaxisSlide .borderROundedRec .innerBox:last-child {
    margin-bottom: 0;
  }

  .xaxisSlide .borderROundedRec .innerBox .contentCard {
    margin-left: 20px;
    width: 100px;
    text-align: start;
  }
  .xaxisSlide .incremanetalHeadTxt {
    margin: 50px 0px 50px 0px;
  }
  .bookBox .reconBox {
    align-items: center;
  }
  .reco-img-sx {
    margin-top: 30px;
  }
  .bookBox .reconBox .headingReconTxt {
    text-align: center;
  }
  .bookBox .reconBox .recogPara {
    text-align: center;
  }
  .bookBox .reconBox .liteTxt {
    text-align: center;
  }
  .bookBox .TecBox h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .TecBox .belowBox .textBox {
    margin-right: 20px;
  }

  .TecBox .belowBox .textBox h1 {
    font-size: 24px;
  }
}
/* Contact */
.contactbg {
  background: url("../public/images/contactus.png") no-repeat;
  height: 50vw;
  width: 100vw;
  background-size: contain;
  background-position: top;
}
.contacttext {
  color: #fff;
  font-size: 55px;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
}
.contactbox {
  margin-left: 150px;
  padding-top: 100px;
}
.contacttextc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacttextwidth {
  width: 20%;
  margin: 20px;
}
.contacttextwidthdes {
  width: 42%;
  margin: 20px;
}
.contactheadfirst {
  font-size: 32px;
  color: #174c93;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
}
.contactheadsub {
  font-size: 18px;
  font-weight: 400;
  color: gray;
}

/* Styling for input fields */
.contacttextwidth input,
.contacttextwidth select,
.contacttextwidthdes input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #3f78bd; /* Blue bottom border */
  background-color: transparent;
  color: #000; /* Change text color */
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px; /* Adjust spacing */
}

/* Styling for select dropdown */
.contacttextwidth select {
  appearance: none; /* Remove default arrow */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  font-size: 12px;
  font-weight: 400;
  padding-right: 25px; /* Adjust spacing for the arrow */
  border: none;
  border-bottom: 2px solid #3f78bd;
  margin: 0; /* Remove margin */
  outline: none;
}
/* Change the color of the SVG */
textarea.input-blue-bottom-border {
  border: none;
  border-bottom: 2px solid #3f78bd;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-caret-right-fill' viewBox='0 0 16 16'%3E%3Cpath d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/%3E%3C/svg%3E"); Replace with the path to your SVG */
  /* background-repeat: no-repeat; */
  /* background-position: right bottom; Position the image at the bottom right */
  /* background-size: 16px 16px; Adjust size of the image */
  padding-right: 20px; /*  Adjust padding to accommodate the image */
  appearance: none; /*   Hide default appearance */
  outline: none; /*   Remove default outline */
  resize: none; /*   Disable resizing */
  filter: hue-rotate(180deg); /*   Change the color of the SVG */
}

.Contactsendmsg {
  border: none;
  height: 35px;
  width: 140px;
  color: #fff;
  font-size: 12px;
  background-color: rgba(1, 52, 112, 1);
  font-family: "Roboto Flex", sans-serif;
}
.input-blue-bottom-borderone {
  border: none;
  border-bottom: 2px solid #3f78bd;
  outline: none;
  background: none;
  font-size: 18px;
  padding: 5px 0;
  margin-bottom: 10px;
  width: 100%;
}

.input-blue-bottom-border:focus {
}

textarea.input-blue-bottom-border {
  min-height: 20px;
}
@media (max-width: 820px) {
  /* Contact */
  .contactbg {
    background: url("../public/images/contactus.png") no-repeat;
    height: 50vw;
    width: 100vw;
    background-size: contain;
    background-position: top;
  }
  .contacttext {
    color: #fff;
    font-size: 40px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
  }
  .contactbox {
    margin-left: 50px;
    padding-top: 100px;
  }
  .contacttextc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacttextwidth {
    width: 50%;
    margin: 20px;
  }
  .contacttextwidthdes {
    width: 100%;
    margin: 20px;
  }
  .contactheadfirst {
    font-size: 28px;
    color: #174c93;
    font-family: "Public Sans", sans-serif;
    font-weight: 600;
  }
  .contactheadsub {
    font-size: 18px;
    font-weight: 400;
    color: gray;
  }

  /* Styling for input fields */
  .contacttextwidth input,
  .contacttextwidth select,
  .contacttextwidthdes input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #3f78bd; /* Blue bottom border */
    background-color: transparent;
    color: #000; /* Change text color */
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px; /* Adjust spacing */
  }

  /* Styling for select dropdown */
  .contacttextwidth select {
    appearance: none; /* Remove default arrow */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 10 10'%3E%3Cpath d='M3.5 5l3 3 3-3z' fill='grey'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    font-size: 12px;
    font-weight: 400;
    padding-right: 25px; /* Adjust spacing for the arrow */
  }
  .Contactsendmsg {
    border: none;
    height: 35px;
    width: 140px;
    color: #fff;
    font-size: 12px;
    background-color: rgba(1, 52, 112, 1);
    font-family: "Roboto Flex", sans-serif;
  }
  .input-blue-bottom-border {
    border: none;

    border-bottom: 2px solid #174c93;
    outline: none;
    font-size: 18px;
    padding: 5px 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .input-blue-bottom-border:focus {
    border-bottom: 2px solid #174c93; /* Change color on focus */
  }

  textarea.input-blue-bottom-border {
    min-height: 20px;
  }
}

@media (max-width: 725px) {
  /* Contact */
  .contactbg {
    background: url("../public/images/contactus.png") no-repeat;
    height: 50vw;
    width: 100vw;
    background-size: contain;
    background-position: top;
  }
  .contacttext {
    color: #fff;
    font-size: 30px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
  }
  .contactbox {
    margin-left: 50px;
    padding-top: 70px;
  }
  .contacttextc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacttextwidth {
    width: 50%;
    margin: 20px;
  }
  .contacttextwidthdes {
    width: 100%;
    margin: 20px;
  }
  .contactheadfirst {
    font-size: 20px;
    color: #174c93;
    font-family: "Public Sans", sans-serif;
    font-weight: 600;
  }
  .contactheadsub {
    font-size: 12px;
    font-weight: 400;
    color: gray;
  }

  /* Styling for input fields */
  .contacttextwidth input,
  .contacttextwidth select,
  .contacttextwidthdes input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #3f78bd; /* Blue bottom border */
    background-color: transparent;
    color: #000; /* Change text color */
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px; /* Adjust spacing */
  }

  /* Styling for select dropdown */
  .contacttextwidth select {
    appearance: none; /* Remove default arrow */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 10 10'%3E%3Cpath d='M3.5 5l3 3 3-3z' fill='grey'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    font-size: 12px;
    font-weight: 400;
    padding-right: 25px; /* Adjust spacing for the arrow */
  }
  .Contactsendmsg {
    border: none;
    height: 35px;
    width: 140px;
    color: #fff;
    font-size: 12px;
    background-color: rgba(1, 52, 112, 1);
    font-family: "Roboto Flex", sans-serif;
  }
  .input-blue-bottom-border {
    border: none;

    border-bottom: 2px solid #174c93;
    outline: none;
    font-size: 18px;
    padding: 5px 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .input-blue-bottom-border:focus {
    border-bottom: 2px solid #174c93; /* Change color on focus */
  }

  textarea.input-blue-bottom-border {
    min-height: 20px;
  }
}

@media (max-width: 520px) {
  /* Contact */
  .contactbg {
    background: url("../public/images/contactus.png") no-repeat;
    height: 50vw;
    width: 100vw;
    background-size: contain;
    background-position: top;
    background-color: #137cc8;
  }
  .contacttext {
    color: #fff;
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
  }
  .contactbox {
    margin-left: 20px;
    padding-top: 60px;
  }
  .contacttextc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacttextwidth {
    width: 50%;
    margin: 20px;
  }
  .contacttextwidthdes {
    width: 100%;
    margin: 20px;
  }
  .contactheadfirst {
    width: 80%;
    font-size: 15px;
    color: #174c93;
    font-family: "Public Sans", sans-serif;
    font-weight: 600;
    text-align: center;
  }
  .contactheadsub {
    font-size: 8px;
    font-weight: 400;
    color: gray;
  }

  /* Styling for input fields */
  .contacttextwidth input,
  .contacttextwidth select,
  .contacttextwidthdes input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #3f78bd; /* Blue bottom border */
    background-color: transparent;
    color: #000; /* Change text color */
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px; /* Adjust spacing */
  }

  /* Styling for select dropdown */
  .contacttextwidth select {
    appearance: none; /* Remove default arrow */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 10 10'%3E%3Cpath d='M3.5 5l3 3 3-3z' fill='grey'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    font-size: 12px;
    font-weight: 400;
    padding-right: 25px; /* Adjust spacing for the arrow */
  }
  .Contactsendmsg {
    border: none;
    height: 35px;
    width: 140px;
    color: #fff;
    font-size: 12px;
    background-color: rgba(1, 52, 112, 1);
    font-family: "Roboto Flex", sans-serif;
  }
  .input-blue-bottom-border {
    border: none;

    border-bottom: 2px solid #174c93;
    outline: none;
    font-size: 18px;
    padding: 5px 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .input-blue-bottom-border:focus {
    border-bottom: 2px solid #174c93; /* Change color on focus */
  }

  textarea.input-blue-bottom-border {
    min-height: 20px;
  }
}

.mainLineImgcont {
  background: url("../public/images/bigBoxblue.svg") no-repeat center scroll;
  height: auto;
  width: 100vw;
  background-size: cover;
  background-position: top;
}
